/* VARIABLES */

.theme-dark {
  /* Override Obsidian CSS variables */
  --background-primary: #011627; /* note background */
  --background-primary-alt: #011627; /* view-header for inactive notes */
  --background-secondary: #011627; /* background for workspace-leaf with tabs  */
  --background-secondary-alt: #011627; /* background for workspace-ribbon and workspace-leaf with tabs (excluding active tab) */
  --interactive-accent: #7e57c2cc;
  --interactive-accent-hover: #7e57c2;
  --scrollbar-active-thumb-bg: #084d8150;
  --scrollbar-bg: #084d8130;
  --scrollbar-thumb-bg: #084d8180;
  --text-accent: #ffeb95; /* backlink text */
  --text-faint: #4b6479; /* backlink brackets */
  --text-highlight-bg: #1085bb5d; /* Used for matching text in search results */
  --text-muted: #89a4bb; /* sidebar list items, links, calendar dots, etc. */
  --text-normal: #d6deeb; /* default note text */
  --text-selection: #5f7e9779; /* Used for selecting text in note editor */

  /* Custom CSS Variables */
  --badge-background: #5f7e97;
  --badge-foreground: #ffffff;
  --note-header-inactive: #0b2942;
  --icon-inactive: #5f7e9760;
  --icon-active: #5f7e97;
  --input-range-background: #084d8180;
  --input-range-background-hover: #084d81d0;
  --horizontal-scrollbar: #084d8180;
  --resize-handle-hover: 8, 77, 129;
  --component-border: #5f7e97;
  --input-background: #0b253a;
  --input-foreground: #ffffffcc;
  --text-h1: #ff79c6;
  --text-h2: #82aaff;
  --text-h3: #c5e478;
  --text-h4: #ffb86c;
  --text-h5: #8be9fd;
  --text-h6: #bd93f9;
  --text-strong: #c5e478;
  --text-italic: #c792ea;
  --text-link: #d6deeb;
}


/* LAYOUT */

/* vertical resize bar between panes */
.workspace-leaf-resize-handle:hover {
  background-color: rgba(var(--resize-handle-hover), 0.5);
}

/* slider bar color */
input[type="range"] {
  background-color: var(--input-range-background);
}
input[type="range"]:active, input[type="range"]:focus, input[type="range"]:hover {
  background-color: var(--input-range-background-hover);
}

/* Badge counters in search results or tags pane */
.tree-item-flair {
  background-color: var(--badge-background);
  color: var(--badge-foreground);
  padding: 2px 6px;
  border-radius: 50px;
}

/* For sidebar icons (equivalent of VS Code Activity Bar) */
.side-dock-ribbon-action {
  color: var(--icon-inactive);
}
.side-dock-ribbon-action:hover {
  color: var(--icon-active);
}

/* When viewing note in edit mode */
.workspace-leaf-content[data-mode="source"] .view-content {
  font-family: "Menlo", "Monaco", "Courier New", monospace; /* Use code editor font */
}

/* For note header (with title) when current note is active */
.workspace-leaf.mod-active .view-header {
  background-color: var(--note-header-inactive);
  border-bottom: 3px solid var(--horizontal-scrollbar)
}


/* UI ELEMENTS */

/* buttons */
button {
  background-color: #7e57c2cc;
  color: var(--input-foreground);
}
button:active, button:focus, button:hover {
  background-color: #7e57c2;
}

/* toast notifications */
.notice {
  background-color: #7e57c2cc;
  color: var(--input-foreground);
}

/* For toggle switches like in graph filters */
.checkbox-container {
  background-color: var(--input-range-background);
}
.checkbox-container:active, .checkbox-container:focus, .checkbox-container:hover {
  /*
    BUG NOTE: checkboxes aren't currently accessible in the tab order.
    Check the settings popup for the graph view. Only inputs receive focus when tabbing.
  */
  background-color: var(--input-range-background-hover);
}
.checkbox-container:active.is-enabled, .checkbox-container:focus.is-enabled, .checkbox-container:hover.is-enabled {
  /*
    BUG NOTE: checkboxes aren't currently accessible in the tab order.
    Check the settings popup for the graph view. Only inputs receive focus when tabbing.
  */
  background-color: var(--interactive-accent-hover);
}

/* For inputs */
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: 1px solid var(--component-border);
  border-radius: 0px;
}
input[type='text']:active,
input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
  border: none;
}

input[type='text']:hover,
input[type='search']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='number']:hover {
  background-color: var(--input-background);
}

.dropdown {
  background-color: #011627;
  border: 1px solid var(--component-border);
  border-radius: 0px;
}
.dropdown:focus {
  border: 1px solid var(--component-border);
}

/* MARKDOWN */

/* For bold Markdown text */
.cm-strong {
  color: var(--text-strong);
}

.cm-url {
  font-style: italic;
}
.external-link {
  color: var(--text-muted);
}

.cm-header-1 {
  color: var(--text-h1);
}
.cm-header-2 {
  color: var(--text-h2);
}
.cm-header-3 {
  color: var(--text-h3);
}
.cm-header-4 {
  color: var(--text-h4);
}
.cm-header-5 {
  color: var(--text-h5);
}
.cm-header-6 {
  color: var(--text-h6);
}


/* BUG FIXES */

/* Fix small font when using inline text in note headings */
.cm-s-obsidian span.cm-inline-code {
  font-size: reset;
}

/* Fix the long-title-obscuring shadows */
.workspace-leaf.mod-active .view-header-title-container:after {
  background: unset;
}
